.navbar {
    display: flex;
    justify-content: center;
    background-color: #777474;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
  
    .nav-link {
      margin: 10px 0;
    }
  }